---
import MainLayout from '@/layouts/MainLayout.astro'
import CustomTitle from '@/components/CustomTitle.astro'
---

<MainLayout title='About'>
  <h1>About</h1>

  <CustomTitle title='Custom About' />
</MainLayout>

<style>
  h1 {
    color: red;
  }
</style>
