---
import MainLayout from '@/layouts/main-layout.astro'
import CustomTitle from '@/components/custom-title.astro'
---

<MainLayout title='About'>
  <h1>About</h1>

  <CustomTitle title='Custom About' />
</MainLayout>

<style>
  h1 {
    color: red;
  }
</style>
