---
import MainLayout from '@/layouts/main-layout.astro'
import CustomTitle from '@/components/custom-title.astro'
---

<MainLayout title='Home'>
  <h1>Home</h1>

  <CustomTitle title='Custom Home' />
</MainLayout>
