---
import MainLayout from '@/layouts/MainLayout.astro'
import CustomTitle from '@/components/CustomTitle.astro'
---

<MainLayout title='Home'>
  <h1>Home</h1>

  <CustomTitle title='Custom Home' />
</MainLayout>
