---
import MainLayout from '@/layouts/main-layout.astro'
import { Counter } from '@/components/counter'

const initialCount = 10
---

<MainLayout title='Islands'>
  <video controls muted autoplay transition:persist>
    <source
      src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4"
      type="video/mp4"
    />
  </video>

  <div class='w-full h-[2000px] bg-red-500 opacity-25'></div>

  <Counter
    client:visible
    transition:persist='count'
    transition:persist-props
    initialCount={initialCount}
  />
</MainLayout>
