---
import MainLayout from '../layouts/MainLayout.astro'
import CustomTitle from '../components/CustomTitle.astro'
---

<MainLayout title='Pokemon'>
  <h1>Pokemon</h1>

  <CustomTitle title='Custom Pokemon' />
</MainLayout>
