<nav class='m-auto text-center my-7 space-x-5'>
  <a href='/' class='px-3'>Home</a>
  <a href='/pokemon' class='bg-yellow-300 text-black px-3'>Pokemon</a>
  <a href='/about' class='px-3'>About</a>
  <a href='/contact' class='px-3'>Contact</a>
</nav>
